<!DOCTYPE html>
<html>
    <head>
        <title>
            Thesis-o-meter
        </title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "thesisometer/main.css" %}">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar" >
            <ul class="navlist">
                <li><a href="{% url "graphs:index" %}">Home</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url "auth_logout" %}">Logout</a></li>
                    <li><a href="{% url "graphs:client_script" %}">Bash Script</a></li>
                {% else %}
                    <li><a href="{% url "auth_login" %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
        <div class="container">

            <div id="main" role="main">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    {% block scripts %}
    {% endblock %}
    </body>
</html>
