<html>
    <head>
        <title>
            Thesis-o-meter
        </title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "graphs/css/normalize.css" %}" >
        <link rel="stylesheet" type="text/css" href="{% static "graphs/css/skeleton.css" %}" >

    </head>
    <body>
        <div class="container">

            <div id="main" role="main">
                {% block content %}
                {% endblock %}
            </div>
        </div>
</html>
