{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "graphs/css/metricsgraphics.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "graphs/css/graphs.css" %}" >
{% endblock %}

{% block content %}
    <div id="chart"></div>
    <div id="date_range">
        <form id="date_range_form">
            <div class="radios" >
                <div class="radio_group" >
                    <label for="range_all">All</label>

                        <input type="radio" name="range" id="range_all" value="all" checked />
                </div>

                <div class="radio_group">
                    <label for="range_year">Past year</label>
                    <input type="radio" name="range" id="range_year" value="year"/>
                </div>

                <div class="radio_group">
                    <label for="range_quarter">Past quarter</label>
                    <input type="radio" name="range" id="range_quarter" value="quarter"/>
                </div >

                <div class="radio_group">
                    <label for="range_month">Past month</label>
                    <input type="radio" name="range" id="range_month" value="month"/>
                </div>
            </div>
        </form>
    </div>

    {% if user.is_authenticated %}
        <div id="formblock">
            <h2>Update Wordcount</h2>
            <form id="count_form" action="{% url 'graphs:count' %}" method="post">{% csrf_token %}
                {{ form }}
                <button type="submit" class="save btn">Post</button>
            </form>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="{% static "graphs/js/metricsgraphics.min.js" %}"></script>
    <script src="{% static "graphs/js/main.js" %}"></script>
{% endblock %}
